ion-toolbar{
    ion-title{
        font-weight: unset;
    font-size: 22px;
    text-align: left;
    padding-inline: 30px !important;
    }
}

.header-card{
    margin: unset;
    border-radius: 0px 0px 30px 30px;
    background: #12076C;
    min-height: 15px;

}
ion-label{
    padding: unset;
}